body {
    font: .24rem/1.14 "\5FAE\8F6F\96C5\9ED1", "arial";
    background: #f1f1f1;
    color: #333;
    padding: .78rem 0 1rem;
}
img {
    max-width: 100%;
}
.cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cever;
}
.contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.center {
    padding: 0 .3rem;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.f {
    background: #fff;
}
.content {
    @extend .f;
    padding: .3rem;
}

.translateX-enter-active, .translateX-leave-active {
    position: absolute;
    width: 100%;
    transition: all .8s;
}
.translateX-enter, .translateX-leave-active {
    opacity: 0;
}
.translateX-enter {
    transform: translateX(7.5rem);
}
.translateX-leave-active {
    transform: translateX(-7.5rem);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

